* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

        /* * NAVBAR * */
header{
    max-width: 1440px;
    width: 100%;
    height: 710px;
    background: no-repeat url(images/Walden_Landing_Video_-_Desktop-High-96k_updated_compressed\ 1.png) center;
    margin: 0;
    position: relative;
}
nav{
    max-width: 1440px;
    width: 100%;
    height: 41px;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(143, 28, 28,0.8);
    z-index: 30;
}
.nav-link ul{
    display: flex;
    gap: 20px;
}
.nav-link ul li a{
    color: #E9E9E9;
    font-size: 12px;
}
.header-btn{
    width: 169px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header-btn button{
    padding: 13px 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px; 
    background-color: rgba(255, 255, 255,0);
    color: #fff;
}
.header-btn button:hover{
    cursor: pointer;
    background-color: rgb(6, 6, 128)
}
.nav-link label,input{
    display: none;
}

        /* * Cushion * */
main{
    max-width: 1440px;
    width: 100%;
}
.cushion{
    max-width: 1440px;
    width: 100%;
}
.cushion-title{
    max-width: 907px;
    width: 100%;
    height: 73px;
    margin: 75px auto 45px;
    text-align: center;
    color: #757575;
    line-height: 36px;
    overflow: auto;
}
.cushion-body{
    height: 562px;
    display: flex;
    gap: 20px;
    overflow-x:  scroll;
    text-align: center;
}
.cushion-body p{
    padding-top: 14px;
}
.cushion-body::-webkit-scrollbar {
    display: none;
}

        /* * Gong * */
.gong {
    max-width: 1370px;
    width: 100%;
    height: 777px;
    margin: 0 auto;
    background: no-repeat url(images/gong-teaser-2x_min_a8270c67-997a-43a9-b3f9-6438829a7422\ 1.png) center;
    position: relative;
    z-index: -1;
}
.gong-title{
    text-align: center;
    padding-top: 56px;
    color: #fff;
}
.gong-title p{
    padding-top: 21px;
    font-size: 14px;
}
.gong-btn{
    width: 105px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.gong-btn button{
    padding: 11px 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px; 
    background-color: rgba(255, 255, 255,0);
    color: #fff;
}
.gong-btn button:hover{
    cursor: pointer;
    background-color: #ae0505;
}

            /* * Special * */
.special{
    max-width: 1440px;
    width: 100%;
    height: 753px;
}
.special-title h2{
    text-align: center;
    padding-top: 75px;
    color: #757575;
}
.special-body{
    display: flex;
    gap: 36px;
    overflow-x: scroll;
    padding-top: 49px;
}
.special-body::-webkit-scrollbar {
    display: none;
}
.special-card{
    height: 555px;
    position: relative;
}
.special-card img{
    position: relative;
    z-index: -1;
}
.special-text{
    max-width: 342px;
    width: 100%;
    height:  104px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 12px;
    right: 12px;
    border-radius: 25px;
    line-height: 21px;
}
.special-text p{
    color: #757575;
    font-size: 14px;
    padding: 13px 25px 7px 15px;
}

            /*  * REKLAM *  */
.reklam{
    max-width: 1370px;
    width: 100%;
    height: 416px;
    overflow: auto;
    margin: 0 auto;
}
.reklam-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(421px, 1fr));
    gap: 20px;
    text-align: center;
}
.reklam-card{
    padding: 30px 0;
}
.reklam-card p{
    max-width: 220px;
    width: 100%;
    height: 54px;
    margin: 0 auto;
    padding-top: 30px;
    color: #848484;
    font-size: 12px;
}

            /* * Shop * */
.shop {
    max-width: 1370px;
    width: 100%;
    height: 800px;
    background: no-repeat url(images/Rectangle\ \(9\).png) center;
    margin: 0 auto;
    position: relative;
}
.shop-title{
    text-align: center;
    padding-top: 188px;
    font-size: 14px;
    color: #fff;
}
.shop-btn{
    max-width: 206px;
    width: 100%;
    position: absolute;
    bottom: 35px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.shop-btn button{
    padding: 11px 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px; 
    background-color: rgba(255, 255, 255,0);
    color: #fff;
}
.shop-btn button:hover{
    cursor: pointer;
    background-color: #ae0505;
}

            /* * TEAM * */
.team{
    max-width: 1440px;
    width: 100%;
    height: 703px;
}
.team-title{
    padding: 70px 20px 34px;
    color: #848484;
}
.team-body{
    display: flex;
    gap: 36px;
    overflow-x: scroll;
}
.team-body::-webkit-scrollbar {
    display: none;
}
.team-card p{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #757575;
}

        /* * Footer * */
footer{
    max-width: 1440px;
    width: 100%;
    height: 426px;
    position: relative;
}
.footer-title{
    padding-top: 199px;
    text-align: center;
}
.footer-title p{
    font-size: 14px;
    color: #9B9B9B;
    padding-bottom: 15px;
}
.footer-title button{
    padding: 7px 52px;
    border-radius: 20px;
    border: 1px solid #9B9B9B;
    background-color: rgba(255, 255, 255,0);
}
.footer-title button:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.footer-social{
    padding-top: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(105px,1fr));
    place-items: center;
    overflow: auto;
}
.footer-card{
    max-width: 105px;
    width: 100%;
    display: flex;
    gap: 30px;
    margin: 0 auto;
}
.footer-card p{
    font-size: 14px;
    color: #8C8C8C;
}
.footer-about{
    max-width: 1440px;
    width: 100%;
    height: 59px;
    text-align: center;
    background: #EDEDED;
    position: absolute;
    bottom: 0;
}
.footer-about p{
    font-size: 14px;
    padding-top: 14px;
    color: #3C3C3C;
}

            /* Responsive */
@media screen and (max-width: 608px) {
    .navbar label,input{
        display: block;
    }
    .nav-link button{
        display: none;
    }
    .nav-logo{
        padding: 10px;
    }
    .nav-link{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background: #000;
        transition: all 0.6s ease-in-out;
        z-index: 10;
    }
    #active:checked ~ .nav-link{
        right:0;
    }
    .menu-btn{
        position: absolute;
        z-index: 20;
        right: 20px;
        top: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .menu-btn span,
    .menu-btn:before,
    .menu-btn:after{
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 30%;
        width: 40%;
        text-align: center;
        border-bottom: 2px solid #fff;
        transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .menu-btn:before{
        transform: translateY(-8px);
    }
    .menu-btn:after{
        transform: translateY(8px);
    }
    .close {
        z-index: 2;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: background .6s;
    }
    
    /* closing animation */
    #active:checked + .menu-btn span {
        transform: scaleX(0);
    }
    #active:checked + .menu-btn:before {
        transform: rotate(45deg);
        border-color: #fff;
    }
    #active:checked + .menu-btn:after {
        transform: rotate(-45deg);
        border-color: #fff;
    }
    .nav-link ul{
        max-width: 400px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .nav-link ul li{
        padding: 25px;
        text-align: center;
        margin: 15px 0;
    }
    .nav-link ul li a{
        width: 210px;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        color: #c8c0c0;
        border-radius: 50px;
        text-align: center;
        padding: 5px;
        position: absolute;
        margin: 0 auto;
        opacity: 0.5;
        transition: all 0.3s ease;
        transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .nav-link ul li a:after{
        position: absolute;
        content: "";
        background: #fff;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        transition: transform 0.3s ease;
    }
    
    .nav-link ul li a:hover:after{
        transform: scaleY(1);
    }
    .nav-link ul li a:hover{
        color: #1a73e8;
    }
    nav input[type="checkbox"]{
        display: none;
    }
    
    #active:checked ~ .nav-link ul li a{
        opacity: 1;
    }
    .nav-link ul li a{
        transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateX(100px);
    }
    #active:checked ~ .nav-link ul li a{
        transform: none;
        transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); 
        transition-delay: .6s;
        transform: translateX(-100px);
    }
}